<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5">
            <a href="https://www.instagram.com/dhusky1002" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.github.com/autumnesponda" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="mailto:contact@equinox-cels.com" class="me-4 text-reset">
                <i class="far fa-envelope"></i>
            </a>





        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="fw-lighter">
            © 2021-2024 Copyright: equinox-cels.com
        </div>
        <!-- Right -->
    </section>
</footer>
