<div class="text-center bg-image pb-3"
    style="background-image: url('assets/headers/mainheader.webp'); height: 350px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3 display-1 fw-lightest">Equinox Cels</h1>
            </div>
        </div>
    </div>
</div>

<section class="pt-2 px-2">
    <figure class="fw-lighter py-5 text-center">
        <blockquote class="fs-2">
            <em>Animation can explain whatever the mind of man can conceive.</em>
        </blockquote>
        <figcaption class="blockquote-footer fs-4">
            <em>Walter Elias Disney</em>
        </figcaption>
    </figure>
</section>

<section class="pb-5">
    <!-- TODO: carousel -->
</section>

<section class="bg-dark p-5">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-light text-center">
            <h4 class="fw-lighter pb-3">
                Welcome to my personal collection of one-of-a-kind pieces of animation history.
            </h4>
            <h5 class="mb-0 fw-lighter">
                I hope you enjoy your stay and find something that interests you.<br>
                If you have any questions, concerns, or just want to chat, please feel free to reach out to me :)
            </h5>
        </div>
    </div>
</section>
